.DS_Store
# .NET
*.dll
*.exe
*.pdb
*.log
*.config
*.deploy
*.manifest
bin/
obj/
*.user
*.vscode/
*.vs2019/
*.vs/
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.pch
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.build/
[Tt]est[Rr]esult*/
[Bb]in/
[Ll]og/
[Ll]ogs/

# Visual Studio Code
.vscode/
.project/
*.launch.json
*.suo
*.user
*.suo
*.ntvs*
*.njsproj
*.sln.docstates

# Rider
.idea/
*.sln.iml

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.suo
API.code-workspace
